.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

  .fa-link {
    width: 120px;
    height: 32px;
    background-color: grey;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

  }
}
